<div class="hero">
  <button class="btn btn--secondary">
    We are now allowing early-access for users.
    <a href="#">Learn more.</a>
  </button>
  <h1 class="hero__heading">Build a highly engaged community with no effort</h1>
  <p class="hero__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus est
    facere nulla quod, corporis aperiam sapiente, molestias, dolorem nihil
    provident veniam omnis fuga voluptatem ad nobis atque soluta expedita
    aliquam.
  </p>
  <input
    class="hero__input"
    type="email"
    placeholder="Enter your e-mail address"
  />
  <button class="btn btn--primary">Join Waitlist</button>
</div>
